.ContainerSince{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

h1 {
  color: #367578;
  display: flex;
  justify-content: center;
}

button {
  border-radius: 10px;
  border: none;
  width: 5rem;
  cursor: pointer;
}

input {
  border-radius: 10px;
}

.Error {
  color: red;
}